.prose a {
  @apply transition-all text-gray-700 dark:text-gray-400 no-underline;
}

.prose .anchor {
  @apply invisible absolute no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  cursor: pointer;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;

  content: "#";
}

.anchor:hover,
.prose *:hover > .anchor {
  @apply visible text-gray-300;
}

.prose .toc {
  @apply fixed top-60 right-[calc(50%-700px)] w-96 h-full hidden xl:block;
}

.prose code {
  &::before {
    @apply content-none;
  }

  &::after {
    @apply content-none;
  }
}

.prose code:not(:where([class~="code-highlight"], [class~="not-prose"] *)) {
  @apply bg-stone-200 dark:bg-stone-600 border border-stone-300/80 dark:border-stone-700 rounded-md px-1 py-[1px];
}
